.logo{
    color: $title-text-color;  
    text-decoration: none;

    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;

    margin-right: 93px;
    
}

.logo .accent{
    color: $accent-color;
}

/* ===============навигация сайта==================  */
.nav.container {
    display: flex;
    justify-content: space-between;
    /* padding-top: 24px;
    padding-bottom: 24px; */
}
.header {
    border-bottom: 1px solid #ECECEC;
}
.site-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .site-nav.list{
    margin-top: 32px;
    margin-bottom: 32px;
} */
.nav-item {
    position: relative;
    display: flex;
}
.contacts.list:last-child {
    margin-left: 50px;
}

.site-nav .link {
    color: $title-text-color;
}

.contacts.list {
    display: flex;
    align-items: center;
}        

.contacts .link{
    color: $primary-text-color;
}

.site-nav li+li {
    margin-left: 50px;
} 
.link{
    text-decoration: none;

}
.header-link {
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    padding: 32px 0px;

}
.header-link:hover,
.header-link:focus {
    color: $accent-color;
}


.site-nav .link.current{
    color: $accent-color;
    justify-content: top;
}
.link.current::after {
    position: absolute;
    content: "";
    display: block;

    height: 4px;
    width: 100%;
    background-color: $accent-color;
    border-radius: 2px;
    align-self: flex-end;
    margin-top: 28px;
    /* pointer-events: none; */
}

/* /* .contacts-item {
    margin-top: 32px;
    margin-bottom: 32px;} */
.contacts li+li {
    margin-left: 50px;
}
.header-contacts-icon {
    margin-right: 10px;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
 
.header-adress {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.143;
    letter-spacing: 0.02em;


    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    fill: #757575;
}
.header-adress:hover {
color:  $accent-color;
}

.header-adress:hover .header-contacts-icon,
.header-adress:focus .header-contacts-icon {
    fill: #2196f3;
}
.mail-icon {
    width: 16px;
    height: 12px;
}
 .tel-icon{
   width: 10px;
   height: 16px;
}

  
